# API Configuration
VITE_API_URL=http://localhost:8000
VITE_SOCKET_URL=http://localhost:8000

# Yandex Maps API Key (get it at https://developer.tech.yandex.ru/)
VITE_YANDEX_MAP_KEY=YOUR_YANDEX_MAP_KEY_HERE
